<div class="breadcrumb_home">
    <p-breadcrumb [home]="home"></p-breadcrumb>
</div>

<div class="p-grid tela_home">
    <h1>Projeto Angular | Menu Lateral + BreadCrumb</h1>
    <div class="p-col-12">
        <img src="./assets/imagens_home/Angular.png" class="img" alt="Logo Angular">
        
    </div>
    <!-- <span>Welcome</span> -->
    <div class="p-col-12 telaHomeStitulo">
        <h2>UNASP - Campus São Paulo | 2021</h2>
        <h3>Disciplina: Interação Humano-Computador</h3>
        <h4>Professor: Thiago Silva | Aluno:Sara farias da fonseca sotero - RA 065411 </h4>
    </div>
</div>